* {
  font-family: 'Cabin', sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

/* HEADER */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 0 45px;
  margin-bottom: 40px;
}

.logo-div {
  display: flex;
  align-items: center;
  width: 20%;
  margin-left: 5%;
  height: 45px;
}

#logo {
  margin: 0;
  font-size: 2em;
}

.navbar {
  display: flex;
  justify-content: space-around;
  width: 35%;
  height: 20px;
}

.navbar a {
  text-decoration: none;
  font-weight: 600;
}

.sign-in-and-out {
  margin-right: 5%;
  display: flex;
  justify-content: flex-end;
  width: 20%;
  height: 20px;
}

.sign-in-and-out a {
  text-decoration: none;
  font-weight: 600;
}


/* HOMEPAGE */

.shady-bg {
  padding: 150px 0;
  background-color: rgb(247, 246, 246);
}

.quick-about {
  width: 63%;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.quick-about h2 {
  margin: 0 0 40px;
  font-size: 3em;
}

.quick-about p {
  margin: 0;
  font-size: 1.75em;
  font-weight: 400;
  line-height: 1.75;
}


/* DATE LIST */

.date-list {
  margin-top: 0;
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
}

.date-card h4 {
  margin-top: 15px;
  margin-bottom: 80px;
  font-size: 1.25em;
}
